/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==== Global ==== */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

 a {
    text-decoration: none;
    color: whitesmoke;
 }

 

 ul {
    list-style: none;
 }

 

 /* Navbar */

 .navbar {
    display:flex;
    position:absolute;
    justify-content: space-between;
    width: 100%;
    top:0;
    left:0;
    padding:20px;
    color:whitesmoke; 
 }

 .nav-links{
    display:flex;
    align-items: center;
 }


 .nav-links li {
    margin: 0px 30px
 }
header{
    width:100vw;
    height:100vh;
    background: url(img/header-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    justify-content:center;
}

.header-content{
    margin-bottom: 150px;
    color:whitesmoke;
    text-align:center;
}

.header-content h2 { 
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding:8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.toggle-button {
    position: absolute;
    top:75em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.toggle-button .bar{
    height: 5px;
    width: 35px;
    background-color: whitesmoke;
    border-radius:10px;
    
}

.toggle-button {
    position: absolute;
    top:30px;
    right: 30px;
    width: 40px;
}

.hamburger {
    position:absolute;
    display:block;
    width: 35px;
    cursor:pointer;
    appearance: none;
    background: none; 
    outline: none;
    border: none;
    right: 30px;
    top: 25px;
    display:none;

}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: "";
    display:block;
    width: 100%;
    height: 5px;
    background-color: whitesmoke;
    margin: 6px 0px;
    transition: 0.4s;
    
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active .bar {
    opacity:0;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.mobile-nav {
    position:fixed;
    top:0;
    right:100%;
    display: none;
    width: 100%;
    min-height: 100vh;
    background: #484872;
    padding-top:120px;
    z-index: 90;
    transition: 0.4s;
    
}

.mobile-nav.is-active{
    right:0;
}

.mobile-nav a {
    display: block;
    text-align:center;
    margin: 0 auto 16px;
    padding: 12px 16px;
    width: 50%;
    color: whitesmoke;
    text-decoration: none;
    background-color: #4e4e88;
}

.mobile-nav a:hover{
    background-color: #3a3a5f;
}

/* Event */
section {
    width:80%;
    margin:80px auto;
}


.title {
    text-align: center;
    font-size: 4vmin;
    color:#49497e;
}

.events{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
 p{
    color: #7c7c7c;
    padding: 0px 40px;
    font-size: 12px;
 }

 .event1 .ctn{
    margin-top: 30px;
 }

 .event2 .ctn{
    margin-top: 30px;
 }
.events .event1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    display:flex;
    flex-direction: column;
}

.events .event2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    font-size:16px;
    display:flex;
    flex-direction: column;
}

.event1 img {
    width:80%;
    height: 250px;
}

.event2 img {
    width:80%;
    height: 250px;
}

/*Explore section style*/

.explore{
    width: 100%;
    height: 100vh;
    background-image: url(img/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.explore-content{
    width:60%;
    padding:50px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.explore-content h1{
    font-size:  7vmin;
    
}

.explore-content .line{
    margin-bottom: 50px;
    margin-left: 0;
}

.explore-content p{
    color: rgb(221,221,221);
    padding: 0;
    font-size: 16px;
    width: 55%;
}

.explore-content .ctn{
    margin-top: 90px;
    position: absolute;
    top:70%;
}

/* Mobile device*/ 
@media only screen and (max-width:850px){

    .hamburger {
        display:block;
    }

    .mobile-nav{
        display: block;
    }
    
    .navbar{
        padding: 0px; 
        z-index: 100;
    }


    .logo {  
        position:absolute;
        top: 30px;
        left: 30px;
    }
    
    .nav-links {
        display: none;
    }
}


